body {
   font-family: "Noto Sans KR", sans-serif;
   font-style: normal;
   background: #f5edf6;
   font-size: 13px;
}

.custom-trash-icon {
   position: absolute;
   right: 0;
   top: 0;
   width: 100%;
   height: 100%;
   text-align: right;
   padding-top: 4px;
   padding-right: 0;
   box-sizing: border-box;
   transition: .3s;
   color: rgba(0,0,0,0);
}
.custom-trash-icon:hover {
   color: rgba(255,255,255,1);
   padding-right: 10px;
}

#main {
   max-width: 720px;
   margin: 0 auto;
}

.main-container {
   width: 100%;
   background: #fff;
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 10px;
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.04);
   margin-bottom: 20px;
}

#custom-list {
   padding: 10px;
   margin-top: 10px;
   min-height: 100px;
}

#list-count {
   color: #777;
   float: right;
}

div {
   display: block;
   box-sizing: border-box;
}

#logo {
   margin: 40px 0 20px 0;
   display: block;
}

.sub-title {
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 10px;
   color: #333;
}

.material-symbols-outlined {
   font-variation-settings:
           'FILL' 0,
           'wght' 400,
           'GRAD' 0,
           'opsz' 24;
}

.fixed-check-icon {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   text-align: right;
   padding-top: 4px;
   padding-left: 0;
   box-sizing: border-box;
   transition: .3s;
}

button, .btn-check {
   width: auto;
   min-width: 84px;
   height: 32px;
   padding: 0 30px;
   border-radius: 220px;
   font-weight: 700;
   font-size: 13px;
   background: #eee;
   color: #777;
   margin-left: 8px;
   margin-bottom: 10px;
   cursor: pointer;
   border: 0;
   transition: .3s;
   position: relative;
   box-sizing: border-box;
}

.btn-check {
   line-height: 32px;
   display: inline-block;
}

.custom-item:hover {
   /*text-align: left;*/
   padding-left: 20px;
   padding-right: 40px;
   background: #ff5e5e;
   color: #fff;
}

#custom-add:hover {
   border: 1px solid #6449fc;
}

.btn-checked {
   background: #a405c0;
   color: #fff;
}

#fixed-box {
   margin-bottom: 10px;
}

hr {
   border: #eeeeee 1px solid;
}

#custom-input-text {
   width: 100%;
   outline: none;
}

#custom-input-text[contenteditable] {
   padding: 11px 75px 11px 20px;
   min-height: 44px;
   box-sizing: border-box;
   width: 100%;
   color: #555;
   word-break: break-word;
   white-space: pre-wrap;
   cursor: text;
}

#custom-input-text[contenteditable]:empty:before {
   content: attr(placeholder);
   color: #999;
}

#custom-input-text[contenteditable=true]:hover,
#custom-input-text[contenteditable=true]:focus {
   border-color: #555;
   box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

fieldset {
   position: relative;
   margin: 0;
   padding: 0;
   border: 0;
}

input{
   outline: none;
}

#custom-add {
   position: absolute;
   top: 8px;
   right: 10px;
   height: 28px;
   cursor: pointer;
   text-align: center;
   background: #fff;
}

.content-border {
   border: 1px solid #ddd;
   border-radius: 4px;
}


/* checkbox */
input[type="checkbox"]{display:none;}
.input-check {
   display: inline-block;
   font-size: 13px;
   cursor: pointer;
}
.input-check::before {
   vertical-align: middle;
   content: "\e835";
   display: inline-block;
   margin:0 5px;
   font-family: Material Symbols Outlined;
   font-size: 25px;
   color: rgba(164, 5, 192, 0.20);
   -webkit-transition: transform 0.2s ease-out, color 0.2s ease;
   -moz-transition: transform 0.2s ease-out, color 0.2s ease;
   -ms-transition: transform 0.2s ease-out, color 0.2s ease;
   -o-transition: transform 0.2s ease-out, color 0.2s ease;
   transition: transform 0.2s ease-out, color 0.2s ease;
   -webkit-transform: scale3d(0.8,0.8,1);
   -moz-transform: scale3d(0.8,0.8,1);
   -ms-transform: scale3d(0.8,0.8,1);
   -o-transform: scale3d(0.8,0.8,1);
   transform: scale3d(0.8,0.8,1);
}
input[type="checkbox"] + .input-check:hover::before {
   content:"\e834";
   -webkit-transform: scale3d(1,1,1);
   -moz-transform: scale3d(1,1,1);
   -ms-transform: scale3d(1,1,1);
   -o-transform: scale3d(1,1,1);
   transform: scale3d(1,1,1);
}

input[type="checkbox"] + .input-check:active::before {
   -webkit-transform: scale3d(1.5,1.5,1);
   -moz-transform: scale3d(1.5,1.5,1);
   -ms-transform: scale3d(1.5,1.5,1);
   -o-transform: scale3d(1.5,1.5,1);
   transform: scale3d(1.5,1.5,1);
}

input[type="checkbox"]:checked + .input-check::before {
   content:"\e834";
   color: #a405c0;
   font-family: Material Symbols Outlined;
   -webkit-transform: scale3d(1,1,1);
   -moz-transform: scale3d(1,1,1);
   -ms-transform: scale3d(1,1,1);
   -o-transform: scale3d(1,1,1);
   transform: scale3d(1,1,1);
}

input[type="checkbox"]:checked + .input-check:hover::before {
   content: "\e909";
   color: rgba(253, 30, 0, 0.5);
}

.guide-box {
   height: 44px;
   border: 1px solid #ffa600;
   border-radius: 4px;
   padding: 11px 20px;
   margin-top: 5px;
   color: #ffa600;
   display: flex;
   align-items: center;
   background: rgba(255, 166, 0, 0.1);
}

.custom-guide-icon{
   margin-right: 11px;
   font-size: 20px;
}

/* 파일 업로드 */
.upload-buttons {
   position: relative;
   width: 100%;
}

#file-label {
   display: inline-block;
   margin-top: 30px;
   background-color: #5b975b;
   color: #fff;
   text-align: center;
   padding: 10px 0;
   width: 65%;
   border-radius: 6px;
   cursor: pointer;
}

#file-upload{
   display: inline-block;
   margin-top: 30px;
   margin-left: auto;
   background-color: #5b975b;
   color: #fff;
   text-align: center;
   padding: 10px 0;
   width: 25%;
   border-radius: 6px;
   cursor: pointer;
   border: 0;
   font-size: 13px;
   float: right;
   height: 40px;
}


input[type="file"] {
   display: none;
}

.upload-box {
   width: 100%;
   box-sizing: border-box;
   margin-right: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: absolute;
}
.upload-box .drag-file {
   width: 100%;
   height: 360px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: rgba(238, 238, 238, 0.7);
   border: 3px dashed #aaa;
}
.upload-box .drag-file.highlight {
   border: 3px dashed #a405c0;
}
.upload-box .drag-file .upload-file-icon{
   width: 40px;
   font-size: 40px;
   color: #555;
}
.message {
   color: #555;
}
.upload-box .drag-file .message {
   margin-bottom: 0;
}

.files {
   width: 100%;
   box-sizing: border-box;
   overflow: auto;
   height: 360px;
   margin-top: 10px

}
.files .file {
   display: flex;
   padding: 20px 20px;
   border-bottom: 1px solid #dbdbdb;
}
.files .file:last-child {
   margin-bottom: 0;
   border-bottom: none;
}
.files .file .thumbnail {
   display: flex;
   flex: none;
   width: 50px;
   margin-right: 20px;
   align-items: center;
}
.files .file .thumbnail .image {
   width: 100%;
}
.files .file .thumbnail .uploaded-file-icon {
   width: 60px;
   font-size: 60px;
   color: #555;
}
.files .file .details {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.files .file .details .header {
   display: flex;
   height: 100%;
    align-items: center;
}
.files .file .details .header .name {
   width: 300px;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
}
.files .file .details .header .size {
   margin-left: auto;
}

.upload-content {
   position: relative;
   height: 430px;
}

.display-none {
   /*opacity: 0;*/
    display: none !important;
}