<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mayone.flow.mapper.ExtensionMapper">
    <select id="selectExtensions" resultType='java.lang.String'>
        SELECT extension FROM customextensions
    </select>
    <insert id="insertCustomExtension" parameterType="java.lang.String">
        INSERT INTO customextensions (extension) VALUES (#{extension})
    </insert>

    <delete id="deleteCustomExtension" parameterType="java.lang.String">
        DELETE FROM customextensions WHERE extension = #{extension}
    </delete>

    <delete id="clearCustomExtensions">
        DELETE FROM customextensions
    </delete>

    <select id="selectFixedExtensions" resultType="org.mayone.flow.model.FixedExtensionDTO">
        SELECT * FROM fixed_extension ORDER BY idx
    </select>

    <update id="updateFixedExtension" parameterType="org.mayone.flow.model.FixedExtensionDTO">
        UPDATE fixed_extension SET status = #{status} WHERE extension = #{extension}
    </update>

    <update id="clearFixedExtensions">
        UPDATE fixed_extension SET status = FALSE
    </update>

    <select id="selectAllExtensions" resultType="java.lang.String">
        SELECT extension FROM fixed_extension WHERE status = TRUE
        UNION
        SELECT extension FROM customextensions
    </select>
</mapper>